@media only screen and (width: 320px) {
    html {
        font-size: 16px;
        font-size: 100%;
    }
}

@media only screen and (width: 360px) {
    html {
        font-size: 18px;
        font-size:112.5%;
    }
}

@media only screen and (width: 375px) {
    html {
        font-size: 18.75px;
        font-size: 117.1875%;
    }
}

@media only screen and (width: 400px) {
    html {
        font-size: 20px;
        font-size: 125%;
    }
}

@media only screen and (width: 414px) {
    html {
        font-size: 20.7px;
        font-size: 129.375%;
    }
}

@media only screen and (min-width: 640px) {
    html {
        font-size: 32px;
        font-size: 200%;
    }
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}
body{
    font: 14px/1.3 arial, "Hiragino Sans GB", "Microsoft Yahei", \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
    color: #333
}
a {
    display: block;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}